span{
    height:70px;
    width:70px;
    margin: 3px;
}
.row{
    padding-top: 150px;
    justify-content: center;
    display: flex;
}
.column1,.column2,.column3{
    display: grid;
    size: B5;
}